@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}
h2 {
    font-weight: 400;
    letter-spacing: 1px;
}
body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #202a41;
    text-align: center;
    color: white;
}

#canvas {
    width: 350px;
    height: 50vh;
    background: white;
    border-radius: 0.3em;
    outline: 2px solid black;
}
#btn-box {
    width: 160px;
    height: 34px;
    display: flex;
}
#clear,
#save {
    width: 70px;
    height: 34px;
    background: #006cff;
    border-radius: 0.3em;
    color: white;
    display: grid;
    place-items: center;
    border: none;
    outline: none;
}
#save {
    margin-left: 10px;
}
#stroke_color {
    width: 34px;
    height: 34px;
    position: relative;
    top: -36px;
    float: right;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
#stroke_color::-webkit-color-swatch {
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#stroke_width {
    width: 100%;
    margin: 20px 0;
    outline: none;
    border: none;
}

.tools {
    padding: 10px 5px 5px 5px;
    background: white;
    border-radius: 0.3em;
    outline: 2px solid black;
    height: 100px;
    overflow: hidden;
    overflow-y: hidden;
}
@media (min-width: 700px) {
    body {
        min-height: 40em;
    }
    #canvas {
        width: 650px;
        height: 340px;
    }
}
